
body{
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	margin:0;
	padding:0;
	background-color:#005689; 
    color:white;
}

.biffo{
	margin:2rem;
	padding:2rem;
	border:1rem solid orangered;
	background-color: aliceblue;
}

h1{
    font-size: 4rem;
    text-align: center;
	color: orangered;
}
